<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Advanced React Application Example</title>
  </head>
  <body>
    <h2> Hello Express and EJS -- <%= answer %></h2>
  </body>
</html>
